apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: lemur
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx-lemur:0.7.0-custom
          ports:
            - name: http
              containerPort: 80
            - name: https
              containerPort: 443
          resources:
            limits:
              memory: 32Mi
              cpu: 200m
            requests:
              memory: 32Mi
              cpu: 50m
